<lib-accordion title="Documento 1" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">
  <span class="title-one-accordion-govco">Doc1</span>
        <span class="title-two-accordion-govco"
          >something here</span
        >
        <span class="text-one-accordion-govco"
          >something here</span
        >
</lib-accordion>

<lib-accordion title="Documento 2" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">
  <span class="title-one-accordion-govco">Doc2</span>
  <span class="title-two-accordion-govco"
    >Something here</span
  >
  <span class="text-one-accordion-govco"
    >Something here</span
  >
  </lib-accordion>


  <lib-accordion title="Documento 3" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">
    <span class="title-one-accordion-govco">Doc2</span>
    <span class="title-two-accordion-govco"
      >Something here</span
    >
    <span class="text-one-accordion-govco"
      >Something here</span
    >
    </lib-accordion>
  
<!-- <lib-accordion>
  <panel title="Panel 1 title" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">Panel 1 content</panel>
  <panel title="Panel 2 title" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">Panel 2 content</panel>
  <panel title="Panel 3 title" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">Panel 3 content</panel>
  <panel title="Panel 4 title" [activate]="activeTitle" (closeOtherPanels)="closeOtherPanels($event)">Panel 4 content</panel>
</lib-accordion> -->